<nav class="flex items-center justify-between lg:p-3 lg:px-8 py-5 fixed top-0 left-5 lg:left-0 lg:w-full w-11/12 bg-white border-b border-gray rounded-3xl m-auto" aria-label="Global">
  <div class="hidden lg:flex lg:flex-1">
    <a href="#" class="-m-1.5 p-1.5">
      <span class="text-2xl">Rajinder Singh Sodhi</span>
    </a>
  </div>
  <div class="lg:flex flex lg:justify-center justify-evenly lg:gap-x-12 w-full lg:w-6/12">
    <a href="#about" class="text-lg leading-6 text-gray-900">About</a>
    <a href="#experience" class="text-lg leading-6 text-gray-900">Experience</a>
    <a href="#projects" class="text-lg leading-6 text-gray-900">Projects</a>
  </div> 
  <div class="hidden lg:flex lg:flex-1 lg:justify-end">
    <a href="#contactMe" class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-full text-sm px-5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700 py-3">Contact Me</a>
  </div>
</nav>

<!-- Home Section -->
<section class="flex flex-col items-center justify-center" style="height: 100vh;">
  <div class="flex flex-col lg:flex-row justify-center items-center lg:gap-20 gap-10" id="home-container">
    <div  class="flex justify-center">
      <img src="rajinder_image.jpeg" alt="" class="rounded-full" id="logo">
    </div>
    <div class="flex flex-col items-center gap-7">
      <div class="flex flex-col items-center gap-2">
          <span class="lg:text-base">Hello, I am</span>
          <span class="lg:text-4xl font-semibold lg:font-normal">Rajinder Singh Sodhi</span>
          <span class="lg:text-2xl font-bold" style="color: rgb(114, 111, 111);">Software Engineer</span>
      </div>
      <div class="flex items-center">
        <a href="documents/resumeRajindersinghsodhi.pdf" id="downloadCV" class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-full text-sm px-5 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700 py-3" download>Download Resume</a>
        <!-- <button class="lg:w1/2">Download CV</button> -->
        <!-- <button type="button" class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-full text-sm px-5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700 py-3">Contact Info</button> -->
        <!-- <button class="lg:w1/2">Contact</button> -->
      </div>
      <div class="flex items-center gap-10">
        <a href="https://github.com/rajindersinghsodhi" target="_blank"><img src="github-icon.png" alt="" style="height: 2.5rem; width: 2.5rem;"></a>
        <a href="https://www.linkedin.com/in/rajindersinghsodhi-541744227/" target="_blank"><img src="linkedin-icon.png" alt="" style="height: 2rem; width: 2rem;"></a>
      </div>
    </div>
  </div>
</section>
<!-- Home Section -->

<!-- About Section  -->
<section class="flex flex-col justify-evenly items-center" id="about">
  <div class="flex justify-center  mt-20 mb-10 lg:m-0">
    <h1 class="text-5xl font-semibold">About</h1>
  </div>
  <div class="hidden lg:flex justify-start" style="width: 55vw;">
    <p class="flex text-justify">I am a Software Engineer with a passion for exploring technology and its transformative impact. I am currently working as a Full Stack Developer at Humanli.ai. I completed my Bachelor of Engineering in Computer Science & Engineering from Chandigarh University in 2024. At Humanli.ai, I work extensively with Angular/React.js, Flask, and Firebase to build AI-powered web applications. My technical skills include Data Structures and Algorithms (Java) and Web Development (MERN/MEAN Stack). I continuously expand my technical expertise, and what I might lack in skills, I make up for with my determination to learn. Outside of my tech interests, I am a passionate football enthusiast.</p>
  </div>
  <div class="flex lg:flex-row flex-col justify-evenly lg:items-stretch items-center gap-10 mx-3">
    <div class="flex flex-col items-center border bg-white rounded-3xl p-5 lg:w-1/2 w-11/12">
      <div class="flex items-center gap-2 my-2 lg:m-0">
        <img src="experience-icon.png" alt="" style="height: 1.5rem;">
        <h1 class="text-xl font-bold">Work Experience</h1>
      </div>
      <div class="w-full flex flex-col justify-center items-center" style="height: 100%;">
        <div class="flex flex-col">
          <div class="flex justify-between items-center">
            <span class="lg:text-lg">Humanli.ai</span>
            <span class="ms-10 text-sm">15 April, 2024 - Present</span>
          </div>
          <div class="flex flex-wrap gap-3 p-5">
            <p class="border-black border rounded-md bg-slate-950 p-2" style="color: white;">Angular</p>
            <p class="border-black border rounded-md bg-slate-950 p-2" style="color: white;">Flask</p>
            <p class="border-black border rounded-md bg-slate-950 p-2" style="color: white;">Firebase</p>
            <p class="border-black border rounded-md bg-slate-950 p-2" style="color: white;">Gen Ai</p>
            <p class="border-black border rounded-md bg-slate-950 p-2" style="color: white;">GCP</p>
          </div>
        </div>
      </div>
    </div>

    <div class="flex flex-col items-center border bg-white rounded-3xl p-5 lg:w-1/2 w-11/12">
      <div class="flex">
        <img src="education-icon.png" alt="" style="height: 2rem;" class="px-2">
        <h1 class="text-xl font-bold">Education</h1>
      </div>
      <div class="flex flex-col items-center">
        <h1>BE Computer Science & Engineering</h1>
        <div class="flex flex-col mt-5">
          <div class="flex justify-center">
            <span>Relevant course work</span>
          </div>
          <div class="flex flex-wrap gap-3 p-5">
            <p class="border-black border rounded-md bg-slate-950 p-2" style="color: white;">Data Structures & Algorithms</p>
            <p class="border-black border rounded-md bg-slate-950 p-2" style="color: white;">Java</p>
            <p class="border-black border rounded-md bg-slate-950 p-2" style="color: white;">Operating System</p>
            <p class="border-black border rounded-md bg-slate-950 p-2" style="color: white;">DBMS</p>
            <p class="border-black border rounded-md bg-slate-950 p-2" style="color: white;">Computer Networks</p>
          </div>
        </div>
      </div>
    </div>
    <div class="flex">
    </div>
  </div>
</section>
<!-- About Section  -->

<!-- Experienc Section  -->
<section id="experience">
  <div class="flex flex-col justify-evenly items-center" id="experience-container">
    <div class="flex justify-center mt-20 mb-5 lg:m-0">
      <h1 class="text-5xl font-semibold">Experience</h1>
    </div>
    <div class="flex lg:flex-row flex-col justify-evenly lg:items-stretch items-center gap-10 mx-3">
      <div class="flex flex-col items-center  bg-white border rounded-3xl p-5 lg:w-1/3 w-11/12">
        <h1 class="text-xl">Frontend Development</h1>
        <div class="flex flex-col items-center">
          <div class="flex flex-wrap gap-3 p-5">
            <p class="border-black border rounded-md bg-slate-950 p-2" style="color: white;">HTML</p>
            <p class="border-black border rounded-md bg-slate-950 p-2" style="color: white;">CSS</p>
            <p class="border-black border rounded-md bg-slate-950 p-2" style="color: white;">Javascript</p>
            <p class="border-black border rounded-md bg-slate-950 p-2" style="color: white;">Angular</p>
            <p class="border-black border rounded-md bg-slate-950 p-2" style="color: white;">Reactjs</p>
            <p class="border-black border rounded-md bg-slate-950 p-2" style="color: white;">Bootstrap</p>
            <p class="border-black border rounded-md bg-slate-950 p-2" style="color: white;">Tailwind CSS</p>
            <p class="border-black border rounded-md bg-slate-950 p-2" style="color: white;">Gen Ai</p>
          </div>
        </div>
      </div>

      <div class="flex flex-col items-center  bg-white border rounded-3xl p-5 lg:w-1/3 w-11/12">
        <h1 class="text-xl">Backend Development</h1>
        <div class="flex flex-col items-center">
          <div class="flex flex-wrap gap-3 p-5">
            <p class="border-black border rounded-md bg-slate-950 p-2" style="color: white;">Expressjs</p>
            <p class="border-black border rounded-md bg-slate-950 p-2" style="color: white;">Nodejs</p>
            <p class="border-black border rounded-md bg-slate-950 p-2" style="color: white;">Python</p>
            <p class="border-black border rounded-md bg-slate-950 p-2" style="color: white;">Flask</p>
            <p class="border-black border rounded-md bg-slate-950 p-2" style="color: white;">Git</p>
            <p class="border-black border rounded-md bg-slate-950 p-2" style="color: white;">Firebase</p>
            <p class="border-black border rounded-md bg-slate-950 p-2" style="color: white;">MongoDB</p>
          </div>
        </div>
      </div>
      <div class="flex flex-col  bg-white border rounded-3xl p-5 lg:w-1/3 w-11/12">
        <div class="flex justify-center">
          <h1 class="text-xl">Programming Languages</h1>
        </div>
        <div class="flex flex-col items-center">
          <div class="flex flex-wrap gap-3 p-5">
            <p class="border-black border rounded-md bg-slate-950 p-2" style="color: white;">Java</p>
            <p class="border-black border rounded-md bg-slate-950 p-2" style="color: white;">JavaScript</p>
            <p class="border-black border rounded-md bg-slate-950 p-2" style="color: white;">Typescript</p>
            <p class="border-black border rounded-md bg-slate-950 p-2" style="color: white;">Python</p>
            <p class="border-black border rounded-md bg-slate-950 p-2" style="color: white;">Data Structures & Algorithms</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Experience Section  -->

<!-- Projects Section  -->
<section id="projects">
  <div class="flex flex-col justify-evenly items-center" id="projects-container">
    <div class="flex justify-center my-5 mt-20 mb-5 lg:m-0">
      <h1 class="text-5xl font-semibold">Projects</h1>
    </div>
    <div class="flex flex-col lg:flex-row justify-evenly lg:items-stretch items-center gap-10 mx-3">
      <div class="flex flex-col items-start  bg-white border rounded-3xl p-5 lg:w-1/3 w-11/12">
        <h1 class="text-xl font-bold">Convocraze</h1>
        <div class="flex flex-col items-start">
          <h1>Chating web app</h1>
          <div class="mt-5">
            <p class="text-justify">Developed a real-time chat web app with friend addition, user search, and text/photo messaging using HTML, CSS, Javascript, ReactJs, Firebase, and Material UI. 
              Integrated Firebase for real-time data sync and user authentication. Implemented intuitive UI for seamless user experience.
              </p>
          </div>
          <div class="flex flex-wrap gap-3 mt-5">
            <p class="border-black border rounded-md bg-slate-950 p-2" style="color: white;">HTML</p>
            <p class="border-black border rounded-md bg-slate-950 p-2" style="color: white;">CSS</p>
            <p class="border-black border rounded-md bg-slate-950 p-2" style="color: white;">Javascript</p>
            <p class="border-black border rounded-md bg-slate-950 p-2" style="color: white;">ReactJs</p>
            <p class="border-black border rounded-md bg-slate-950 p-2" style="color: white;">Firebase</p>
            <p class="border-black border rounded-md bg-slate-950 p-2" style="color: white;">Material UI</p>
            <p class="border-black border rounded-md bg-slate-950 p-2" style="color: white;">Firebase</p>
          </div>
        </div>
      </div>

      <div class="flex flex-col items-start  bg-white border rounded-3xl p-5 lg:w-1/3 w-11/12">
        <h1 class="text-xl font-bold">Disney Hotstar Clone</h1>
        <div class="flex flex-col items-start">
          <h1>Frontend clone of Disney Hotstar</h1>
          <div class="mt-5">
            <p class="text-justify">Build a Disney+ Hotstar clone with identical frontend design using HTML, CSS, JavaScript, ReactJs, and React libraries including Axios and React-Icons. Utilized TMDB API for fetching movies and TV shows data, ensuring seamless integration with the original website.                
              </p>
          </div>
          <div class="flex flex-wrap gap-3 mt-5">
            <p class="border-black border rounded-md bg-slate-950 p-2" style="color: white;">HTML</p>
            <p class="border-black border rounded-md bg-slate-950 p-2" style="color: white;">CSS</p>
            <p class="border-black border rounded-md bg-slate-950 p-2" style="color: white;">Javascript</p>
            <p class="border-black border rounded-md bg-slate-950 p-2" style="color: white;">ReactJs</p>
            <p class="border-black border rounded-md bg-slate-950 p-2" style="color: white;">Axios</p>
            <p class="border-black border rounded-md bg-slate-950 p-2" style="color: white;">Material UI</p>
            <p class="border-black border rounded-md bg-slate-950 p-2" style="color: white;">TMDB API</p>
          </div>
        </div>
      </div>
      <div class="flex flex-col items-start  bg-white border rounded-3xl p-5 lg:w-1/3 w-11/12">
        <h1 class="text-xl font-bold">Covid Management System</h1>
        <div class="flex flex-col items-start">
          <h1>management of covid vaccination</h1>
          <div class="mt-5">
            <p class="text-justify">Engineered and deployed a comprehensive COVID-19 testing data management website integrating user authentication, test data collection, and report tracking functionalities. Utilized HTML, CSS, ReactJs, and Firebase technologies to enhance data handling efficiency and user experience.                
              </p>
          </div>
          <div class="flex flex-wrap gap-3 mt-5">
            <p class="border-black border rounded-md bg-slate-950 p-2" style="color: white;">HTML</p>
            <p class="border-black border rounded-md bg-slate-950 p-2" style="color: white;">CSS</p>
            <p class="border-black border rounded-md bg-slate-950 p-2" style="color: white;">Javascript</p>
            <p class="border-black border rounded-md bg-slate-950 p-2" style="color: white;">ReactJs</p>
            <p class="border-black border rounded-md bg-slate-950 p-2" style="color: white;">Firebase</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Projects Section  -->
  
<!-- Contact Section  -->
<section id="contactMe">
  <div class="flex flex-col justify-evenly items-center" id="contact-container">
    <div class="flex flex-col items-center justify-center mt-20 mb-10 lg:m-0">
      <span>Get in Touch</span>
      <h1 class="text-5xl font-semibold">Contact Me</h1>
    </div>
    <div class="flex justify-evenly gap-10 mx-3">
      <div class="flex flex-col lg:flex-row items-center gap-10 bg-white border rounded-3xl p-5">
        <div class="flex items-center gap-3">
          <img src="email-icon.png" alt="" style="height:1.5rem;">
          <span class="text-lg">rajindersodhi181&#64;gmail.com</span>
        </div>
        <div class="flex items-center gap-3">
          <img src="linkedin-icon.png" alt="" style="height: 1.5rem; width: 1.5rem;">
          <span class="text-lg">rajindersinghsodhi</span>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Projects Section  -->

<footer class="mx-auto flex max-w-7xl items-center justify-center p-6 lg:px-8 mb-10" aria-label="Global">
  <div class="lg:flex flex lg:justify-center justify-evenly lg:gap-x-12 w-full lg:w-6/12">
    <a href="#about" class="text-lg leading-6 text-gray-900">About</a>
    <a href="#experience" class="text-lg leading-6 text-gray-900">Experience</a>
    <a href="#projects" class="text-lg leading-6 text-gray-900">Projects</a>
  </div>
</footer>

<router-outlet />