<header class="bg-white">
  <nav class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8" aria-label="Global">
    <div class="flex lg:flex-1">
      <a href="#" class="-m-1.5 p-1.5">
        <span class="text-2xl">Rajinder Singh Sodhi</span>
      </a>
    </div>
    <div class="hidden lg:flex lg:gap-x-12">
      <a href="#about" class="text-lg font-semibold leading-6 text-gray-900">About</a>
      <a href="#experience" class="text-lg font-semibold leading-6 text-gray-900">Experience</a>
      <a href="#projects" class="text-lg font-semibold leading-6 text-gray-900">Projects</a>
    </div>
    <div class="hidden lg:flex lg:flex-1 lg:justify-end">
      <a href="#" class="text-lg font-semibold leading-6 text-gray-900">Contact<span aria-hidden="true">&rarr;</span></a>
    </div>
  </nav>
  <section>
    <div class="flex justify-center items-center gap-20"  style="height: 80vh;">
      <div  class="flex justify-center">
        <img src="https://avatars.githubusercontent.com/u/78411923?v=4" alt="" style="height: 15rem; width: 15rem;" class="rounded-full">
      </div>
      <div class="flex flex-col items-center gap-7">
        <div class="flex flex-col items-center gap-2">
            <span class="text-4xl">Rajinder Singh Sodhi</span>
            <span class="text-2xl">Full Stack Developer</span>
        </div>
        <div class="flex">
          <button type="button" class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-full text-sm px-5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700 py-3">Download CV</button>
          <!-- <button class="lg:w1/2">Download CV</button> -->
          <!-- <button type="button" class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-full text-sm px-5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700 py-3">Contact</button> -->
          <!-- <button class="lg:w1/2">Contact</button> -->
        </div>
        <div class="flex items-center gap-10">
          <img src="https://github.githubassets.com/assets/GitHub-Mark-ea2971cee799.png" alt="" style="height: 2.5rem; width: 2.5rem;">
          <img src="https://cdn.iconscout.com/icon/free/png-256/free-linkedin-1796350-1524231.png?f=webp" alt="" style="height: 2rem; width: 2rem;">
        </div>
      </div>
    </div>
  </section>
  <section class="flex flex-col justify-evenly items-center" style="height: 100vh;" id="about">
    <div class="flex justify-center my-5">
      <h1 class="text-6xl">About</h1>
    </div>
    <div class="flex justify-evenly gap-10 mx-3">
      <div class="flex flex-col items-center border-black border rounded-3xl p-5" style="width: 30vw;">
        <h1 class="text-xl">Work Experience</h1>
        <div class="w-full flex flex-col">
          <div class="flex flex-col items-center">
            <div class="flex justify-between items-center px-20">
              <span class="text-lg">Humanli.ai</span>
              <span class="ms-10 text-sm">15 April, 2024 - Present</span>
            </div>
            <div class="flex flex-wrap gap-3 p-5">
              <p class="border-black border rounded-md bg-black p-2" style="color: white;">Angular</p>
              <p class="border-black border rounded-md bg-black p-2" style="color: white;">Flask</p>
              <p class="border-black border rounded-md bg-black p-2" style="color: white;">Firebase</p>
              <p class="border-black border rounded-md bg-black p-2" style="color: white;">Gen Ai</p>
              <p class="border-black border rounded-md bg-black p-2" style="color: white;">GCP</p>
            </div>
          </div>
        </div>
      </div>

      <div class="flex flex-col items-center border-black border rounded-3xl p-5" style="width: 30vw;">
        <h1 class="text-xl">Education</h1>
        <div class="flex flex-col items-center">
          <h1>BE Computer Science & Engineering</h1>
          <div class="flex p-5">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem illum accusantium quos atque, perspiciatis ipsam beatae ab. Quis ipsa inventore illo sunt voluptas eius et optio blanditiis odit tenetur molestias, distinctio nesciunt adipisci nihil quo perspiciatis fuga mollitia nemo? Exercitationem quasi odit fugit nulla. Quasi numquam explicabo recusandae tempore exercitationem?</p>
          </div>
        </div>
      </div>
      <div class="flex">
      </div>
    </div>
  </section>

  <section id="experience">
    <div class="flex flex-col justify-evenly items-center" style="height: 100vh;">
      <div class="flex justify-center my-5">
        <h1 class="text-6xl">Experience</h1>
      </div>
      <div class="flex justify-evenly gap-10 mx-3">
        <div class="flex flex-col items-center border-black border rounded-3xl p-5" style="width: 30vw;">
          <h1 class="text-xl">Frontend Development</h1>
          <div class="flex flex-col items-center">
            <h1>as Full Stack Developer</h1>
            <div class="flex flex-wrap gap-3 p-5">
              <p class="border-black border rounded-md bg-black p-2" style="color: white;">Angular</p>
              <p class="border-black border rounded-md bg-black p-2" style="color: white;">Gen Ai</p>
              <p class="border-black border rounded-md bg-black p-2" style="color: white;">Bootstrap</p>
              <p class="border-black border rounded-md bg-black p-2" style="color: white;">Tailwind CSS</p>
              <p class="border-black border rounded-md bg-black p-2" style="color: white;">Java</p>
              <p class="border-black border rounded-md bg-black p-2" style="color: white;">Javascript</p>
              <p class="border-black border rounded-md bg-black p-2" style="color: white;">Python</p>
              <p class="border-black border rounded-md bg-black p-2" style="color: white;">Operating System</p>
              <p class="border-black border rounded-md bg-black p-2" style="color: white;">Computer Networks</p>
              <p class="border-black border rounded-md bg-black p-2" style="color: white;">DBMS</p>
            </div>
          </div>
        </div>
  
        <div class="flex flex-col items-center border-black border rounded-3xl p-5" style="width: 30vw;">
          <h1 class="text-xl">Backend Development</h1>
          <div class="flex flex-col items-center">
            <div class="flex flex-wrap gap-3 p-5">
              <p class="border-black border rounded-md bg-black p-2" style="color: white;">Flask</p>
              <p class="border-black border rounded-md bg-black p-2" style="color: white;">Firebase</p>
              <p class="border-black border rounded-md bg-black p-2" style="color: white;">MongoDB</p>
            </div>
          </div>
        </div>
        <div class="flex flex-col border-black border rounded-3xl p-5" style="width: 30vw;">
          <div class="flex justify-center">
            <h1 class="text-xl">Programming Languages</h1>
          </div>
          <div class="flex flex-col">
            <div class="flex flex-col p-5">
              <div class="flex items-center gap-5 py-2">
                <img src="https://e7.pngegg.com/pngimages/510/15/png-clipart-java-programming-computer-programming-programming-language-android-coffee-jar-text-logo.png" alt="" style="height: 2rem;" class="rounded-md">
                <span>Java</span>
              </div>
              <div class="flex items-center gap-5 py-2">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6a/JavaScript-logo.png/768px-JavaScript-logo.png" alt="" style="height: 2rem;" class="rounded-md">
                <span>Java</span>
              </div>
              <div class="flex items-center gap-5 py-2">
                <img src="https://w7.pngwing.com/pngs/74/362/png-transparent-typescript-plain-logo-icon-thumbnail.png" alt="" style="height: 2rem;" class="rounded-md">
                <span>Typescript</span>
              </div>
              <div class="flex items-center gap-5 py-2">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRxe6IR3EKgALq0lEUvpW3GmPH8rpAv1cK0_w&s" alt="" style="height: 2rem;" class="rounded-md">
                <span>Python</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

    <section id="projects">
    <div class="flex flex-col justify-evenly items-center" style="height: 100vh;">
      <div class="flex justify-center my-5">
        <h1 class="text-6xl">Projects</h1>
      </div>
      <div class="flex justify-evenly gap-10 mx-3">
        <div class="flex flex-col items-center border-black border rounded-3xl p-5" style="width: 30vw;">
          <h1 class="text-xl">Convocraze</h1>
          <div class="flex flex-col items-center">
            <h1>Chating web app</h1>
            <div class="">
              <p class="text-justify">Developed a real-time chat web app with friend addition, user search, and text/photo messaging using HTML, CSS, Javascript, ReactJs, Firebase, and Material UI. 
                Integrated Firebase for real-time data sync and user authentication. Implemented intuitive UI for seamless user experience.
                </p>
            </div>
            <div class="flex flex-wrap gap-3 p-5">
              <p class="border-black border rounded-md bg-black p-2" style="color: white;">HTML</p>
              <p class="border-black border rounded-md bg-black p-2" style="color: white;">CSS</p>
              <p class="border-black border rounded-md bg-black p-2" style="color: white;">Javascript</p>
              <p class="border-black border rounded-md bg-black p-2" style="color: white;">ReactJs</p>
              <p class="border-black border rounded-md bg-black p-2" style="color: white;">Firebase</p>
              <p class="border-black border rounded-md bg-black p-2" style="color: white;">Material UI</p>
              <p class="border-black border rounded-md bg-black p-2" style="color: white;">Firebase</p>
            </div>
          </div>
        </div>
  
        <div class="flex flex-col items-center border-black border rounded-3xl p-5" style="width: 30vw;">
          <h1 class="text-xl">Backend Development</h1>
          <div class="flex flex-col items-center">
            <h1>Disney Hotstar Clone</h1>
            <div class="">
              <p class="text-justify">Build a Disney+ Hotstar clone with identical frontend design using HTML, CSS, JavaScript, ReactJs, and React libraries including Axios and React-Icons. Utilized TMDB API for fetching movies and TV shows data, ensuring seamless integration with the original website.                
                </p>
            </div>
            <div class="flex flex-wrap gap-3 p-5">
              <p class="border-black border rounded-md bg-black p-2" style="color: white;">HTML</p>
              <p class="border-black border rounded-md bg-black p-2" style="color: white;">CSS</p>
              <p class="border-black border rounded-md bg-black p-2" style="color: white;">Javascript</p>
              <p class="border-black border rounded-md bg-black p-2" style="color: white;">ReactJs</p>
              <p class="border-black border rounded-md bg-black p-2" style="color: white;">Axios</p>
              <p class="border-black border rounded-md bg-black p-2" style="color: white;">Material UI</p>
              <p class="border-black border rounded-md bg-black p-2" style="color: white;">TMDB API</p>
            </div>
          </div>
        </div>
        <div class="flex flex-col items-center border-black border rounded-3xl p-5" style="width: 30vw;">
          <h1 class="text-xl">Covid Management System</h1>
          <div class="flex flex-col items-center">
            <h1>management of covid vaccination</h1>
            <div class="">
              <p class="text-justify">Engineered and deployed a comprehensive COVID-19 testing data management website integrating user authentication, test data collection, and report tracking functionalities. Utilized HTML, CSS, ReactJs, and Firebase technologies to enhance data handling efficiency and user experience.                
                </p>
            </div>
            <div class="flex flex-wrap gap-3 p-5">
              <p class="border-black border rounded-md bg-black p-2" style="color: white;">HTML</p>
              <p class="border-black border rounded-md bg-black p-2" style="color: white;">CSS</p>
              <p class="border-black border rounded-md bg-black p-2" style="color: white;">Javascript</p>
              <p class="border-black border rounded-md bg-black p-2" style="color: white;">ReactJs</p>
              <p class="border-black border rounded-md bg-black p-2" style="color: white;">Firebase</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <router-outlet />