#logo{
    height: 7rem;
    width: 7rem;
}

#about{
    height:100%;
}
#skills-container{
    height:100%;
}
#projects-container{
    height:100%;
}
#contact-container{
    height:100%;
}

@media screen and (min-width: 640px){
    #logo{
        height: 15rem;
        width: 15rem;
    }
    #about{
        height:110vh;
    }
    #skills-container{
        height:100vh;
    }
    #projects-container{
        height:100vh;
    }
    #contact-container{
        height:80vh;
    }
}